*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.nav-logo{

height: 55px;
width: 100px;     
}

.logo{
    height: 55PX;
    width: 100%;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.nav-logo:hover{
border: 1.5px solid white;
}

.a1{
    color: #cccccc;
    font-size: 12px;
    margin-left: 15px;
}

.a2{
    color: #ffffff;
    font-size: 16px;
    margin-left: 3px;
}

.icon{
    display: flex;
    align-self: center;
}

.address{
    height: 55px;
    width: 100px;

}

.address:hover{
   
    border: 1.5px solid white;
}

.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.Search-select{
    background-color: #f3f3f3 ;
    width: 50px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    border: none;
}

.Search-input{
    width: 100% ;
    font-size: 1rem;
    border: none;
    text-align: left;
}

.icon-search{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: yellowgreen;
    border-radius: 0 4px 4px 0;
    color: #0F1111;
     
    
}
span{
    font-size: 0.7rem;
}
.n2{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-search:hover{
    border: 2px solid orange;
}

.return:hover{
    border: 1.5px solid white;
}

.signin:hover{
    border: 1.5px solid white;
}



.cart i{
    font-size: 35px;
}

.cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.cart:hover{
    border: 1.5px solid white;
}






.panel{
    height: 39px;
    width: 100%;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.components p{
    display: inline;
    margin-left: 15px;
}

.components{
width: 90%;
font-size: 0.85rem;
}

.components p:hover{
    border: 2px solid white;
}



.hero-section{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.heromsg{
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    
}


.heromsg a{
    color: #007185;
    text-decoration: none;

}

.box{
    height: 100px;
    
    width: 23%;
    height: 400px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
  
    
}  

.box-img{
    
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
 
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

footer{
    margin-top: 15px ;
}

.foot-panel2{
background-color: #222f3d;
padding-top: 20px;
color: white;
height: 300px  ;
display: flex;
justify-content: space-evenly;
} 

ul a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    text-decoration: none;
    margin-top: 10px;
}

